* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(/img/pattern.png);
}


/* index.html */

.title2 {
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-shadow: -15px 15px 10px rgba(0, 0, 0, 0.541);
    letter-spacing: 9px;
}

.btn-container {
    width: 70%;
    height: 200px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 190px;
}

.new-game {
    display: block;
    float: left;
    width: 300px;
    height: 70px;
    margin-top: 50px;
    background-color: white;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.699);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8), 1px 0px 1px rgba(0, 0, 0, 0.8), 2px 0px 1px rgba(0, 0, 0, 0.8), 0px 2px 1px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

.load-game {
    display: block;
    float: right;
    width: 300px;
    height: 70px;
    margin-top: 50px;
    background-color: white;
    outline: none;
    border: 1px solid black;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8), 1px 0px 1px rgba(0, 0, 0, 0.8), 2px 0px 1px rgba(0, 0, 0, 0.8), 0px 2px 1px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

.new-game a,
.load-game a {
    display: block;
    text-decoration: none;
    font-size: 30px;
    color: black;
    outline: none;
    cursor: pointer;
}

.new-game:hover,
.load-game:hover {
    display: block;
    transform: scale(1.3, 1.3);
}

.names {
    margin-top: 0, auto;
    margin-top: 200px;
    /* margin-right: 500px;
    margin-left: 300px; */
    text-align: center;
    outline: none;
}


/* load.html */

.title3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 50px;
}

#load {
    width: 500px;
    height: 30px;
    font-size: 15px;
    outline: none;
}

.btn-load {
    color: rgb(0, 0, 0);
    width: 100px;
    height: 25px;
    font-size: 15px;
    font-weight: bolder;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.411);
    cursor: pointer;
    transition: all 0.3s;
}


/* game.html */

.title {
    font-size: 40px;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 10px;
    margin-bottom: -150px;
    transition: all 0.4s;
}

.player1,
.player2 {
    height: 25px;
    margin-right: 10px;
    border: 1px solid black;
    padding-right: 5px;
    color: black;
}

.player1-1,
.player2-2 {
    margin-left: 50px;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bolder;
}

#save-name2,
#save-name1 {
    color: rgb(0, 0, 0);
    width: 50px;
    height: 25px;
    font-size: 15px;
    font-weight: bolder;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.411);
    cursor: pointer;
    transition: all 0.3s;
}

#save-name2:hover,
#save-name1:hover {
    background-color: rgb(56, 51, 51);
    color: white;
    border: 1px solid white;
}

#save-name2:active,
#save-name1:active {
    box-shadow: 1px 1px 9px rgb(255, 255, 255) inset;
}

.title:hover {
    transform: scale(1.3, 1.3);
}

.container {
    text-align: center;
}

.game-container {
    border: 1px solid rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.game-cell {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    font-size: 95px;
    line-height: 100px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.game-cell:hover {
    box-shadow: 1px 1px 10px black inset;
}

.restart {
    color: rgb(0, 0, 0);
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-weight: bolder;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.411);
    transition: all 0.3s;
}

.restart:hover {
    background-color: rgb(56, 51, 51);
    color: white;
    border: 1px solid white;
}

.restart:active {
    box-shadow: 1px 1px 9px rgb(255, 255, 255) inset;
}

.last-text {
    display: block;
    float: right;
    margin-right: 5px;
    text-align: right;
}

.back {
    color: rgb(0, 0, 0);
    width: 90px;
    height: 30px;
    font-size: 20px;
    font-weight: lighter;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.411);
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.3s;
}

.back a {
    display: block;
    text-decoration: none;
    color: black;
}

.back:hover {
    background-color: rgb(56, 51, 51);
    color: white;
    border: 1px solid white;
}

.back a:hover {
    color: rgb(255, 255, 255);
}

.back:active {
    box-shadow: 1px 1px 9px rgb(255, 255, 255) inset;
}

#gameId {
    border: 1px solid black;
    margin-left: 571px;
    align-items: center;
    width: 200px;
    margin-top: 1opx;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: bold;
    font-family: monospace;
}

.notification {
    margin-bottom: 25px;
}